body{
	--fondo: #fffade;
	--color-letra-base: #af5145;
	--boton:#f22f16;
	--boton-azul:#2197A1;
	--bordes:#e4eef7;
	--letra-menu-secundario:#2197A1;
	--reportar:#AD0500;
	--barra:#f29657;
	--notificaciones:#f1a480;
	margin: 0px;
	padding: 0px;
	font-family: Trebuchet MS;
	background-color: var(--fondo);
	display: inline-block;
	width: 100%;
	overflow: auto;
	color:var(--color-letra-base);
}
textarea{
	color:gray;
	font-family: Trebuchet MS;
	border: 2px solid var(--bordes);
}
input, select{
	color: gray;
	border-radius: 5px;
	border: 2px solid var(--bordes);
	font-family: Trebuchet MS;
}
input.boton{
	height: 30px;
	font-size: 20px;
	padding: 0px;
}
/*-------------------------------------------*/
.calificacion{
	display: inline-block;
	float: left;
	margin: 0px 0px 15px 0px;
	width: 125px;
}
.calificacion p{
	text-align: center;
}
.calificacion .estrellas{padding-left: 20%}
.calificacion .estrellas img{
	display: inline-block;
	float: left;
	width: 20px;
	height: auto;
}
/*----------------------------------------------*/
.boton{
	width: 110px;
	height: auto;
	background-color: var(--boton);
	display: inline-block;
	float: left;
	margin: 0px 5% 15px 0px;
	color: white;
	text-align: center;
	border-radius: 5px;
	cursor:pointer;
	height: 22px;
	padding: 3px
}
.botonAzul{
	width: 110px;
	height: auto;
    background-color: var(--boton-azul);
	display: inline-block;
	float: left;
	color: white;
	text-align: center;
	border-radius: 5px;
	cursor:pointer;
	height: 22px;
	padding: 3px
}
/*-----------------------------------------------*/
#seguro, #popupNo, #popup, #razones{
   display: none;
   opacity: 0;
   margin-top: -300px;
}
#seguro .popup-contenedor p{
	margin-top: 0px;
}
.popup-contenedor {
   position: relative;
   margin:7% auto;
   padding:40px 50px 50px 50px;
   background-color: white;
   color:var(--color-letra-bases);
   border-radius: 3px;
   width:250px;
   font-size: 20px;
   font-family: Trebuchet MS;
   border: solid 3px;
}
#razones .popup-contenedor {
	width:30%;
	padding:15px 20px 50px 20px;
}
.popup-cerrar {
   position: absolute;
   top:3px;
   right:3px;
   background-color: var(--barra);
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:white;
   cursor: pointer;
}
.center {
    text-align: center;
    width: 100%;
    display: inline-block;
}

.pagination {
    display: inline-block;
}

.pagination .flechas {
    color: white;
    float: left;
    padding: 8px 16px	;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 4px;
    cursor: pointer;
    background-color: var(--boton-azul);
}