#imagen{
	width: 300px;
	height: 300px;
	display: inline-block;
	float: left;
	background-color: black;
	margin-bottom: 10px;
}
#datos{
	display: inline-block;
}
#datos .olvidar p:hover{
	cursor: pointer;
	color: var(--reportar);
}
#con{
  transform: translateY(10%);
  height: 100%;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.conn{
	width: 300px;
}
.nombre, .contrasena{
	margin: 0px 0px 10px 0px;
}
.boton{
	margin: 0px 0px 5px 20px;
}
