.imagen img{
	padding: 0px;
	margin: 15px;
	width: 430px;
	height: 500px;
	display: inline-block;
	float: left;
}
.datos{
	padding: 0px;
	margin: 15px;
	display: inline-block;
	float: left;
	width: 40%;
}
.datos p{
	margin: 0px;
}
.datos .titulo{
	margin: 25px 0px 15px 0px;
	display: inline-block;
	float: left;
	width: 100%;
}
.datos .titulo p{font-size: 28px;}
.datos .descripcion{
	margin: 0px 0px 15px 0px;
	display: inline-block;
	float: left;
	width: 100%;
}
.datos .descripcion p{font-size: 18px;}
.datos .precio p{
	margin: 0px 0px 15px 0px;
	font-family: sans-serif;
	font-size: 18px;
}
.reportar{
	width: 30%;
	padding-left: 250px;
}
.reportar p{margin:0px;}
.reportar .boton{
	height: 25px;
	width: 90px;
	background-color: var(--reportar);
	display: inline-block;
	float: left;
	padding: 2px;
	border-radius: 5px;
	cursor:pointer;
}
.reportar .boton img{
	width: 10px
	height: auto;
	display: inline-block;
	float: left;
}
.reportar .boton p{
	color: black;
	display: inline-block;
	float: left;
}
.reportar .razones{
	display: inline-block;
	float: left;
	width: 100%;
}
.reportar .razones p{
	margin: 8px 0px 8px 0px;
}
.reportar .razones button{
	margin-top: 8px;
	background-color: var(--boton);
	border:none;
	color: white;
	border-radius: 5px;
	font-size: 15px;
	cursor:pointer;
}