.imagenp img{
	width: 430px;
	height: 500px;
	display: inline-block;
	float: left;
}
.imagenp{
	width: 430px;
	height: 500px;
	display: inline-block;
	float: left;
	margin: 30px 30px 0px 9%;
}
.imagenp .imagen input{
	width: 94px;
	height: 76px;
	float: right;
	cursor: pointer;
	border:none;
	opacity: 0; 
	background: url(camara.png);
	z-index: 2;
}
.imagenp .imagen{
	width: 94px;
	height: 76px;
	float: right;
	cursor: pointer;
	margin: -90px 10px 10px 0px;
	background: url(camara.png);
	z-index: 1;
}
.datosPublica{
	display: inline-block;
	float: left;
}
.datosPublica p{
	margin: 0px 0px 8px 0px;
	display: inline-block;	
}
.datosPublica .titulo{
	margin: 25px 0px 15px 0px;
	display: inline-block;
}
.datosPublica .titulo p{
	font-size: 28px;
}
.datosPublica .descripcion{
	margin-bottom: 15px;
}
.datosPublica .tipos {
	margin-bottom: 25px;
}
.datosPublica .Publicar{
	width: 90px;
	height: auto;
	background-color: var(--boton);
	float: left;
	color: white;
	text-align: center;
	border-radius: 5px;
	cursor:pointer;
	height: 22px;
	padding: 3px
}
.datosPublica .Publicar input{
	width: 90px;
	height: auto;
	background-color: var(--boton);
	float: left;
	color: white;
	text-align: center;
	border-radius: 5px;
	cursor:pointer;
	height: 22px;
	padding: 3px
}
.datosPublica .titulo input{
	font-size: 28px;
	margin-top: 10px;
}
.imagenp .bloqueado{
	width: 430px;
	background-color: var(--reportar);
	position: absolute; z-index: 3;
}
.imagenp .bloqueado  p{
	font-size: 30px;
	padding-top: 15px;
	margin: 0px 0px 0px 15px;
}