.comprador{
	display: inline-block;
	float: left;
	margin-right: 25px;
	width: 125px;
}
.vendedor{
	display: inline-block;
	float: left;
	width: 125px;
}
.informacionAlumnos .boton{
	margin-left: 70px;
	margin-top: 15px;
}
.estadisticasAlumno{
	width: 50%;
	margin-top: 45px;
	display: inline-block;
	float: left;
}
#containerx{
	width: 500px;
	height: auto;
	margin-bottom: 10px;
}
.contenido{
	display: inline-block;
	float: left;
	width: 100%;
}
.informacionAlumnos{
	width: 40%;
	margin: 35px 0px 0px 8%;
	display: inline-block;
	float: left;
}
.informacionAlumnos p{
	margin: 5px 0px 5px 0px;
}

