.perfil{
	display: inline-block;
	float: left;
	width: 60%;
}
.perfil .imagenPerfil{
	width: 350px;
	height: 350px;
	display: inline-block;
	float: left;
	position: relative;
	margin-top: 45px;
	margin-left: 10%;
	margin-right: 10px;
}
.perfil .imagenPerfil img{
	width: 350px;
	height: 350px;
	border-radius: 175px;
}
.imagen input{
	width: 94px;
	height: 76px;
	float: right;
	cursor: pointer;
	border:none;
	opacity: 0; 
	z-index: 2;
}
.imagen{
	width: 94px;
	height: 76px;
	float: right;
	cursor: pointer;
	margin: 0px 10px 10px 0px;
	background: url(http://localhost/proyecto/alumno/css/camara.png);
	z-index: 1;
	position: absolute; left: 250px; top: 270px;
}
.perfil .info {
	width: 30%;
	display: inline-block;
	float: left;
	margin: 90px 0px 50px 30px;
}
.perfil .info p{
	margin-bottom: 5px;
}
