
/*----------------------------------------------------------------------------*/

/*--------------------------------------------------------------*/
.imagenp{
	width: 430px;
	height: 500px;
	display: inline-block;
	float: left;
	margin: 30px 30px 0px 9%;
}
.imagenp img{
	width: 430px;
	height: 500px;
}
.datosPublica{
	display: inline-block;
	float: left;
}
.datosPublica p{
	margin: 0px 0px 8px 0px;
	display: inline-block;	
}
.datosPublica .titulo{
	margin: 30px 0px 15px 0px;
	display: inline-block;
}
.datosPublica .titulo input{
	font-size: 28px;
}
.datosPublica .descripcion{
	margin-bottom: 15px;
}
textarea{
	font-family: Trebuchet MS;
}
/*-----------------------------------------------------------------------*/
.perfil{
	display: inline-block;
	float: left;
	width: 60%;
}
.perfil .imagenPerfil{
	width: 350px;
	height: 350px;
	display: inline-block;
	float: left;
	position: relative;
	margin-top: 45px;
	margin-left: 10%;
	margin-right: 10px;
}
.perfil .imagenPerfil img{
	width: 350px;
	height: 350px;
	border-radius: 175px;
}
.perfil .imagenPerfil .agregar img{
	width: 94px;
	height: 76px;
	float: right;
	cursor: pointer;
	margin: 0px 10px 10px 0px;
	position: absolute; left: 250px; top: 270px; z-index: 3;
}
.imagenp .agregar img{
	width: 94px;
	height: 76px;
	float: right;
	cursor: pointer;
	margin: 0px 10px 10px 0px;
	position: absolute; left: 550px; top: 500px; z-index: 3;
}
.perfil .info {
	width: 30%;
	display: inline-block;
	float: left;
	margin: 90px 0px 50px 30px;
}
.perfil .info p{
	margin-bottom: 5px;
}
.perfil .info .boton{
	width: 90px;
	height: auto;
	background-color: #E0855B;
	float: left;
	color: white;
	text-align: center;
	border-radius: 5px;
	cursor:pointer;
	height: 22px;
	padding: 3px;
	margin-top:15px;
}