.categorias{
	color: var(--letra-menu-secundario);
	margin: 0px;
	margin-right: 35px;
	padding: 10px 0px 10px 20px;
	font-size: 20px;
	width: 180px;
	border-right: 3px solid;
	border-bottom: 3px solid;
	border-color: var(--bordes);
	display: inline-block;
	float: left;
	height: 500px;
	background-color: white;
}
.categorias p{
	cursor: pointer;
}