.perfil{
	display: inline-block;
	float: left;
	width: 60%;
}
.primero{
	width: 350px;
	height: 350px;
	display: inline-block;
	float: left;
	position: relative;
}
.imagenPerfil{
	width: 350px;
	height: 350px;
	display: inline-block;
	float: left;
	position: relative;
	margin-top: 45px;
}
.imagenPerfil .imagen img{
	width: 350px;
	height: 350px;
	border-radius: 175px;
}
.imagenPerfil .agregar{
	width: 94px;
	height: 76px;
	float: right;
	cursor: pointer;
	margin: 0px 10px 10px 0px;
	background-image: url(camara.png);
	position: absolute; left: 250px; top: 270px; z-index: 3;
}
.perfil .info {
	width: 30%;
	display: inline-block;
	float: left;
	margin: 90px 0px 50px 30px;
}
.perfil .info p{
	margin-bottom: 5px;
}
.perfil .info .boton{
	width: 90px;
	margin-top:15px;
}
.perfil .calificacion{
	width: 350px;
	display: inline-block;
	float: left;
	margin: 15px 0px 15px 0px;
}
.perfil input{
	margin-bottom: 10px:;
}
.perfil .calificacion .comprador, .perfil .calificacion .vendedor{
	width: 150px;
	display: inline-block;
	float: left;
}
.perfil .calificacion .comprador p, .perfil .calificacion .vendedor p{
	padding-left: 10px;
}