.datosObjeto p{
	margin: 0px 0px 5px 0px;
	display: inline-block;	
}
.datosObjeto .titulo{
	margin: 25px 0px 15px 0px;
	display: inline-block;
}
.datosObjeto .titulo p{
	font-size: 28px;
}
.datosObjeto .descripcion{
	margin-bottom: 15px;
}
.datosObjeto{
	padding: 0px;
	margin: 15px;
	margin-left: 15px;
	display: inline-block;
	float: left;
	width: 20%;
}
.imagenn{
	margin-left: 9%;
	display: inline-block;
	float: left;
}
.imagenn img{
	padding: 0px;
	margin: 15px;
	width: 430px;
	height: 500px;
	display: inline-block;
	float: left;
}