.cuadros{
	width: inherit;
	display: inline-block;
	float: left;
	width: 50%;
	padding: 20px 0px 0px 80px;
}
.contenido .cuadros .mensajes, .contenido .cuadros .ventas,.contenido .cuadros .compras,.contenido .cuadros .pedidos{
	width: 180px;
	height: 150px;
	display: block;
	float: left;
	border: 1px solid;
	border-color: var(--bordes);
	margin-bottom: 26%
	/*box-shadow: 5px 5px 3px -2px rgba(45,26,18,0.49);*/
}
.contenido .arriba{
	display: inline-block;
	float: left;
	width: 250px;
	margin: 45px 5% 0px 0px 
}
.contenido .abajo{
	display: inline-block;
	float: left;
	width: 250px;
	margin: 45px 0px 0px 0px
}

.contenido .cuadros .titulo p{
	text-align: center;
	margin-bottom: 10px;
	margin-top: 40px;
	font-size: 20px;
}
.contenido .cuadros .cuenta p{
	text-align: center;
	font-size: 15px;
}
.contenido .cuadros .pedidos:hover{	
	cursor: pointer;
	background-color: var(--bordes) ;
}
.contenido .cuadros .compras:hover{	
	cursor: pointer;
	background-color: var(--bordes) ;
}
.contenido .cuadros .ventas:hover{	
	cursor: pointer;
	background-color: var(--bordes) ;
}
.contenido .cuadros .mensajes:hover{	
	cursor: pointer;
	background-color: var(--bordes) ;
}