#opcompras{
	display: inline-block;
	width: 100%;
	height: auto;
}
.productos img{
	height: 250px;
	width: 210px;
	float: left;
	position: absolute;
}
.productos .info{
	display: block;
	position: relative;
}
.productos .titulo p{	
	margin: 0px;
	width: 210px;
	margin-top: 255px;
}
.productos .precio p{	
	margin: 0px;
	width: 210px;
	font-family: sans-serif;
}
.productos{
	background-color: white;
	display: inline-block;
	float: left;
	width: 210px;
	margin: 25px;
	cursor:pointer;
}
#opobjetos{
	float: left;
	padding: 0px 150px 0px 150px;
}
#oppedidos{
	float: left;
	padding: 0px 150px 0px 150px;
}
#oppedidos .descripcion p{margin:0px;}