<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />

      <customErrors mode="RemoteOnly"
      defaultRedirect="Error404.htm">
      <error statusCode="404" redirect="Error404.html" />
      <error statusCode="500" redirect="Error404.html" />
      </customErrors>

    </system.web>

</configuration>
